{
    "plugins": [
        "react",
        "jsx-a11y",
        "import",
        "flowtype",
        "node"
    ],
    "extends": [
        "plugin:react/recommended"
    ],
    "rules": {
        "react/sort-prop-types": "warn",
        "react/no-array-index-key": 1,
        "react/no-unused-prop-types": "warn",
        "no-unused-vars": "warn"
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    }
}