.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    
}
.text {
    flex: auto;
    font-size: xx-large;
}

.image{
    width: 64px;
    height: 64px;
}
