@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
    margin: 0;
    padding:0;
    font-family:'Lato',sans-serif;
    color: #D5E1E8;
    background: #292827;
}

/* unvisited link */
a {
    color: #C69645;
}

/* visited link */
a:visited {
    color: #A38660;
}

/* mouse over link */
a:hover {
    color: #C69645;
}

/* selected link */
a:active {
    color: #A38660;
}

*, *:before, *:after {
    box-sizing: inherit;
}

iframe {
    border:none
}

button {
    color: #292827
}


.rotator {
    animation: spin infinite 20s linear;
    height: auto;
    widows: 100%;
  }
  
@keyframes spin {
from { transform: rotate(0deg); }
to { transform: rotate(360deg); }
}
  

.r-select {
    color: #292827
}