.card {
    width: 96px;
    height: 128px;
    border: solid black 1px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 12px;
}

.tint {
    background: red;
    width: 72px;
    height: 96px;
}