.resourceCard {
    background: darkgray;
    width: 72px;
    height: 96px;
    filter: grayscale(100%);
    justify-items: center;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.timer {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}

.clock {
    color: red;
    font-size: 36px;
}

.playPauseBtn {
    margin-left: 20px;
    align-self: center  
}

.paid {
    width: 96px;
    height: 128px;
    filter: grayscale(0%);
    background: white;
}

.hand {
    display: flex;
    flex-flow: row;
}

.requirements {
    display: flex;
    flex-flow: row wrap;
}

.requirementsArea {
    margin: 20px;
    padding: 20px;
    border-radius: 25px;
    border: 1px dashed white;
}

.modal-graphic {
    position: relative;
    width: 100%;
    height: 100%;
}

.challengeDeck {
    width: 166px;
    height: 256px;
    color: white;
    margin-right: 20px;
    filter: grayscale(100%)
}

.drawDeck {
    margin-right: 20px;
}

.readyToDraw {
    outline: 2px solid greenyellow;
    outline-offset: 5px;
    outline-style: dashed;
    filter: grayscale(0%)
}

.emptyDrawDeck {
    border: 2px white dashed;
    background: transparent;
    color: white;
    width: 166px;
    height: 256px;
    margin-right: 20px;
    border-radius: 10px;

}

.handArea {
    margin: 20px;
    padding-bottom: 20px;
}

.challengeDeckArea {
    padding-top: 20px;
    margin: 20px;
}

.currentChallengeCard {
}

.discardButton {
    border-radius: 90px;
    height: 90px;
    width: 90px;
}

.smooth-dnd-container.horizontal {
    display: flex;
    flex-flow: row wrap; 
}