.resourceCard {
    background: darkgray;
    justify-items: center;
}

.paid {
    background: gold;
}

.playArea { 
    background-color: #444;
}

.challengeDeck {
    background: brown;
    color: white;
}

.drawDeck {
    background: cornflowerblue;
    color: white;
}

.discardPile {
    width: 150px;
    height: 200px;
    border: solid black 1px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.requirementsArea{
    min-height: 200px;
}

.smooth-dnd-container.horizontal {
     display: flex;
    flex-flow: row wrap; 
}