.blog {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 40px;
    margin-right: 40px;
}

.blogContent {
    margin-bottom: 40px;
    flex: auto;
}

iframe {
    width: 100%;
    min-height: 500px;
    height: 100%;
}